NODE_ENV=development

BOT_TOKEN=
DATABASE_URL=

ADMIN_CHAT_ID=
ADMIN_USER_IDS=

CHANNEL_ID=
CHANNEL_NAME=

WEBHOOK_DOMAIN=
WEBHOOK_SECRET_TOKEN=

PORT=3000

HTTP_PROXY=
SOCKS_PROXY=

DATABASE_CA_CERT=